{% extends "layout.html" %}
{% block title %}index{% endblock %}

{% block content %}
<div class="update-selling-item-area">
  <h2>재고물품 변경, 추가 페이지</h2>
  <form method="post" name="join_form" action=".">
    <ul class="update-form-list">
      <li>
	<label for="name">물품 이름</label>
	{{ form.name }}
	<p class="check-result">{{ form.name.errors.0 }}</p>
      </li>
      <li>
	<label for="price">물품 가격</label>
	{{ form.price }}
	<p class="check-result">{{ form.price.errors.0 }}</p>
      </li>
      <li>
	<label for="description">세부 설명</label>
	{{ form.description }}
	<p class="check-result">{{ form.description.errors.0 }}</p>
      </li>
      <li>
	<label for="price">재고 수량</label>
	{{ form.count }}
	<p class="check-result">{{ form.count.errors.0 }}</p>
      </li>
      {% ifnotequal parent_type "factory" %}
      <li style="display:none;">
      {% else %}
      <li>
      {% endifnotequal %}
	<label for="price">
	  공장 물품 키
	</label>
	{{ form.parent_item_id }}
	<p class="check-result">{{ form.parent_item_id.errors.0 }}</p>
      </li>
    </ul>
    <input type="submit" value="수정/등록 완료" />
  </form>

  {% ifequal parent_type "factory" %}
  <div class="wholesaler-list-area">
    <h3>&lt;공장 제조물품 리스트&gt;</h3>
    {% if parent_items %}
    <table>
      <colgroup>
	<col width="90px">
	<col width="120px">
	<col width="110px">
      </colgroup>
      <tr>
	<th>물품 키</th>
	<th>물품 이름</th>
	<th>공장 아이디</th>
	<th>공장 이메일</th>
      </tr>
      {% for parent_item in parent_items %}
      <tr>
	<td>{{ parent_item.id }}</td>
	<td>{{ parent_item.name }}</td>
	<td>{{ parent_item.member.user.username }}</td>
	<td>{{ parent_item.member.user.email }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    등록된 공장물품이 없습니다.
    {% endif %}
  </div>
  {% endifequal %}
</div>
{% endblock %}
